# Hidden Files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Bundler Cache
vendor
.bundle
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# npm dependencies
node_modules
package-lock.json

# Custom files and directories
tools/generate_pages.py
tools/gen_pdf.sh
tools/md5.txt
tools/pandoc_files/*

# Misc
_sass/vendors
assets/js/dist
